:root {
  /* --bg-color: #e0ffff; */
  --bg-color: #d1d0cf;
  --fg-color: black;
  --fg-2-color: #bbb;
  --bg-color-day: #d1d0cf;
  --fg-color-day: #0000e8;
  --gray-color-day: #888888;
  /* --bg-color-night: #cbd1e3; */
  --bg-color-night: #e2e7f6;
  --fg-color-night: #0000e8;
  /* --gray-color-night: #A4A4D4; */
  --gray-color-night: #9B9BDF;
  --spinner-color: #d1d0cf;
  --spinner-color-day: #d1d0cf;
  --spinner-color-night: #cbd1e3;
}

* {
  box-sizing: border-box;
}

iframe {
  display: none !important;
}

iframe#mobile {
  height: 75vh;
  width: 100%;
  border: 0;
  display: block !important;
}

@font-face {
  font-family: "waxwing-2020";
  src: url("./fonts/waxwing-regular-update-2020-webfont.woff2") format("woff2"),
    url("./fonts/waxwing-regular-update-2020-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  height: 100%;
  font-family: "waxwing-2020", monospace;
  font-size: 13.5px;
  text-transform: lowercase;
}

body,
html,
video-js {
  background-color: var(--bg-color) !important;
}

/* body.day,
body.day a {
  background-color: var(--bg-color-day) !important;
  color: var(--fg-color-day) !important;
}

body.night,
body.night a,
body.night #shade-top,
body.night #shade-bottom,
body.night .slide {
  background-color: var(--bg-color-night) !important;
  color: var(--fg-color-night) !important;
}

body.night .gray,
body.night #presence {
  color: var(--gray-color-night) !important;
}

body.night .vjs-seeking .vjs-loading-spinner::after,
body.night .vjs-seeking .vjs-loading-spinner::before,
body.night .vjs-waiting .vjs-loading-spinner::after,
body.night .vjs-waiting .vjs-loading-spinner::before {
  color: var(--spinner-color-night) !important;
} */

h1 {
  font-weight: normal;
  margin: 0;
  font-size: 1em;
}

img {
  max-width: 100%;
}

body#nest {
  margin: 0;
  text-align: center;
}

body.center {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 1em;
}

.video-js .vjs-tech {
  object-fit: cover;
}

#shade {
  /* background-color: black; */
  height: 100vh;
  top: 0;
  width: 100%;
  position: absolute;
  z-index: 4;
  overflow: hidden;
  color: var(--fg-color);
}

#shade-top,
#shade-bottom {
  background-color: var(--bg-color);
  height: 50%;
  width: 100%;
  position: absolute;
  transition: transform 1s linear;
  transform: translateY(0%);
  padding: 3px;
}

#shade-top {
  top: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: -1px;
}

#shade-bottom {
  bottom: 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
}

.closed #shade-bottom {
  display: block;
}

.closed time {
  display: none;
}

.open #shade-top {
  transform: translateY(calc(-100% + 25px));
}

.open #shade-bottom {
  transform: translateY(calc(100% - 25px));
}

/* info panel */

body.menu {
  text-align: left;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

body.menu.content {
  overflow: scroll;
}

body.content a {
  text-decoration: none;
  color: black;
  border-bottom: 1px solid #aaa;
}

body.content a.return {
  border-bottom: none;
}

a.plain {
  text-decoration: none;
  color: black;
}

a.left {
  position: absolute;
  left: 1.5em;
}

a.right {
  position: absolute;
  right: 1.5em;
}

.slide {
  min-height: 100vh;
  padding: 1em;
  box-sizing: border-box;
  position: relative;
}

body.about-slides {
  margin: 0;
  overflow: hidden;
}
.about-slide {
  display: block;
  width: 100vw;
  height: 100vh;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: black;
  background: #d1d0cf;
}
.about-slide a.plain {
  color: black;
}
.about-slide.first {
  background: #d1d0cf;
  color: black;
}
.about-slide.first a.plain {
  color: black;
}

a.menu {
  position: absolute;
  top: 1em;
  right: 1em;
  text-decoration: none;
  color: black;
}

#presence {
  position: absolute;
  bottom: 1em;
  left: 1em;
  right: 1em;
  color: #888888;
}

.gray {
  color: #888888;
}

table.artist {
  margin-bottom: 2em;
}

table.artist,
table.artist tr,
table.artist td {
  border-collapse: collapse;
  border: 1px solid #aaa;
}

table.artist td {
  padding: 5px 8px;
  vertical-align: top;
}

table.artist img {
  display: block;
}

.slide.menu-options a,
a.return {
  text-decoration: none;
  color: black;
}

.chime-info {
  margin-bottom: 1em;
}

.vjs-modal-dialog {
  background: linear-gradient(
    180deg,
    rgb(255 255 255 / 80%),
    rgba(255, 255, 255, 0)
  ) !important;
}
.vjs-modal-dialog-content {
  margin-top: 2em;
  display: none;
}
.vjs-error .vjs-error-display:before {
  font-family: "waxwing-2020" !important;
  font-size: 1rem;
  margin-top: 25px;
  content: "this stream could not be loaded right now" !important;
}
.vjs-loading-spinner {
  opacity: 1 !important;
  border-color: transparent !important;
  transform: scale(1.2);
  /* background-color: blue !important; */
}
.vjs-seeking .vjs-loading-spinner::after,
.vjs-seeking .vjs-loading-spinner::before,
.vjs-waiting .vjs-loading-spinner::after,
.vjs-waiting .vjs-loading-spinner::before {
  animation: 8.1s linear 0s infinite normal none running vjs-spinner-spin,
    8.1s linear 0s infinite normal none running vjs-spinner-fade !important;
  animation-delay: 0s, 0s;

  background-color: transparent !important;
  border-color: transparent !important;
  content: "✺" !important;
  font-weight: 0 !important;
  color: var(--spinner-color);
  display: flex;
  justify-content: center;
  font-size: 39px;
}

video-js {
  width: 100% !important;
  height: 100% !important;
}

wc-marquee {
  font-family: "waxwing-2020", monospace !important;
  font-weight: 100;
}

#mobile {
  font-size: 10px;
}
